---
layout: home

channels:
  - title: General
    description: >
      A place to meet other Masters of their respective Tech fields, to introduce themselves and discuss topics that don't quite fit in the other channels

  - title: Business
    description: >
      Business Strategy, Business News, and Business Intelligence... If it has anything to do with Business, this is the place to talk about it!

  - title: Jobs
    description: >
      Is your company hiring? Do you want to be hired? Post your jobs and requests here! Don't forget to invite anyone to this channel who is looking or posting

  - title: Technology
    description: >
      As Arthur C. Clarke once said, "Any sufficiently advanced technology is indistinguishable from magic." ... But we Tech Masters know better, don't we?

  - title: Debugging
    description: >
      When #programming questions get too detailed, use this channel to cut the noise and do 1:1 debugging with other Masters.

  - title: Science
    description: >
      Edward Teller once said, "The #science of today is the #technology of tomorrow." Let's talk about the things that will amaze us tomorrow!

partners:
  - name: Full Stack Toronto
    logo: fsto
    link: http://fsto.co/

  - name: "#DevTO"
    logo: devto
    link: http://www.devto.ca/

  - name: Fireside Conf
    logo: fireside
    link: http://www.firesideconf.com/

  - name: Product Hunt Toronto
    logo: producthuntto
    link: http://producthunttoronto.com/
---

<div class="tm-container mdl-grid">
  <div class="tm-card tm-card--join mdl-card mdl-color--white mdl-shadow--4dp mdl-color-text--grey-800 mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
    <h3 class="mdl-typography--text-center mdl-color-text--primary-dark">Join Now</h3>
    <iframe src="https://technologymasters.herokuapp.com/" frameborder="0" width="100%" height="300"></iframe>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <h3 class="mdl-typography--text-center mdl-color-text--primary-dark">Official Communities</h3>
  </div>

  {% for partner in page.partners %}
    <div class="tm-card tm-card-partner mdl-card mdl-shadow--2dp mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--2-col-desktop {% cycle 'mdl-cell--2-offset-desktop', '', '', '' %}">
      <div class="mdl-card__title mdl-card--expand mdl-typography--text-center">
        <img src="/assets/images/partners/{{ partner.logo }}.png"/>
      </div>

      <div class="mdl-card__actions mdl-card--border mdl-typography--text-center"><a href="{{ partner.link }}">{{ partner.name }}</a></div>
    </div>
  {% endfor %}

  <div class="mdl-cell mdl-cell--12-col">
    <h3 class="mdl-typography--text-center mdl-color-text--primary-dark">Featured Channels</h3>
  </div>

  {% for channel in page.channels %}
    <div class="tm-card tm-card-channel tm-card-channel--{{ channel.title | downcase }} mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop {% cycle 'mdl-cell--2-offset-desktop', '' %}">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">#{{ channel.title }}</h2>
      </div>
      <div class="mdl-card__supporting-text">{{ channel.description }}</div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect" href="https://{{ site.slack_domain }}/messages/{{ channel.title | downcase }}/">Live Discussion</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://codeandsupply.slackarchive.io/{{ channel.title | downcase }}/">Archive</a>
      </div>
    </div>
  {% endfor %}
</div>
